<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="IsbInterop" connectionString="Data Source=[server\instance];Initial Catalog=[database];Integrated Security=False;User ID=[user];Password=[password]" />-->
    <add name="IsbInterop" connectionString="Data Source=testsrv\instance1;Initial Catalog=dirdb;Integrated Security=False;User ID=administrator;Password=" />
  </connectionStrings>
</configuration>